html {
    box-sizing: border-box;
    font-family:'PT Sans', sans-serif;
}
*, *::before, *::after {
	box-sizing:inherit;
}
table {
  background: url('manpreet.jpg');
  height:400px;
  width:600px;
  margin: 0 auto;
}

/* I am unable to understand why the players and the board image is not appearing 

